:host {
  display: block;
  padding: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}
