@use '@angular/material' as mat;
@use './palettes' as theme;

@include mat.core();

$theme: mat.m2-define-light-theme((
  color: (
    primary: theme.$primary,
    accent: theme.$accent,
    warn: theme.$warn,
  ),
));

@include mat.all-component-themes($theme);
